<header class="site-header">
  <div class="container header-row">
    <a class="brand" href="{{ url('/') }}">
      <span class="brand-pill">ATOLL</span>
      <span class="brand-text">atoll-cms</span>
    </a>
    <nav>
      <ul class="nav">
        {% for item in navigation %}
          <li><a href="{{ url(item.url|default('/')) }}">{{ item.label }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <a class="admin-link" href="{{ url('/admin') }}">Admin</a>
  </div>
</header>
